*{
    margin: 0px;
    padding: 0px;
   }
body{
    background-color:navy;
}
h1
{
    width:970px;
    height:70px;  
    background-color:#A00606;
    color:#898585; 
    border-radius: 30px;
    padding: 25px 0px 10px 50px;
    margin:20px;
}
.navigation{
    width: 200px;
    height: 250px;
    color: cyan;
    background-color: #0d7272;
    margin: 20px;
    padding: 30px;
    display:inline-block;
    border-radius:25px; 
    text-decoration: underline;
}
.main{
    width: 600px;
    height: 500px;
    color: white;
    margin: 20px;
    padding: 20px;
    vertical-align: top;
    display:inline-block;
    background-color:#000020;
    border-radius: 25px;
}
p{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.info{
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
    padding:15px;
}
.footer{
    width:930px;
    height: 60px;
    background-color: gray;
    color:white;
    border-radius: 25px;
    padding: 25px 0px 0px 25px;
    margin: 50px;
    font-size: 20px;

}
.bullet{
    padding: 0 0 0 30px;
}